.container1{
    display: flex;
    height: 93vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 100px 20px; /* Spacing around the content */
    background-color: #e8e6d6;
    color: grey;
}

.container2 {
    display: flex;
    flex-direction: column;
    height: 93vh;
    align-items: center; /* Ensure all content is centered horizontally */
    text-align: center; /* Center-align text */
    justify-content: center;
    padding: 100px 20px; /* Spacing around the content */
    background-color: #1f519c;
}

.container h1, h2{
    font-size: 70px;
    color: #1f519c;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.container p{
    margin-top: 2rem;
    padding: 50px;
    padding-top: 60px;
    line-height: 1.6;
    font-size: 30px;
    color: #1f519c;
    text-align: center;
}

.container2 p {
    color: white;
}